  .plans-container {
    margin-top: 20px;
  }

  .plan-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    gap: 10px;
    cursor: pointer;
    @apply mx-5
  }

  .plan-card:hover {
    --tw-scale-x: 1.01;
    --tw-scale-y: 1.01;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    @apply transition-all duration-300;
  }

  .plan-info {
    flex: 1;
  }

  .price {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--primary);
  }

  .validity,
  .data,
  .benefits {
    margin: 5px 0;
    font-size: 14px;
  }

  .select-plan-button {
    background: var(--primary-gradient);
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .select-plan-button:hover {
    background-color: var(--primary-dark);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: all .2s;
  }

  .disclaimer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
  }

  /*   
  .ant-modal-content{
    height: 90vh;
  } */

  .recharge-plan-modal {
    width: 65vw !important;
  }