  .plans-container {
    margin-top: 20px;
  }
  
  .plan-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    gap: 10px;
  }
  
  .plan-info {
    flex: 1;
  }
  
  .price {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: var(--primary);
  }
  
  .validity,
  .data,
  .benefits {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .select-plan-button {
    background-color: var(--primary);
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .select-plan-button:hover {
    background-color: #0056b3;
  }
  
  .disclaimer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  
  .ant-modal-content{
    height: 90vh;
  }