.plan-input-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    /* max-width: 400px;
    margin: 0 auto; */
}

.plan-input-container .currency {
    @apply rounded-l-lg;
    padding: auto;
    width: 60px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    /* border-radius: 12px 0px 0px 12px; */
    /* margin-right: 8px; */
    padding: 8px;
    background-color: #fff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    /* height: 40px; */
}

.check-plan {
   @apply rounded-r-lg;
    background-color: var(--primary);
    /* height: 40px; */
    color: white;
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    /* height: 40px; */
    margin-right: 4px;
}

.plan-input:focus {
    border-color: var(--primary);
    /* box-shadow: 0 0 0 1px var(--primary); */
}