@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #5F259F;
  --primary-light: color-mix(in oklab, var(--primary) 90%, white);
  --primary-lighter: color-mix(in oklab, var(--primary) 75%%, white);
  --primary-lightest: color-mix(in oklab, var(--primary) 50%, white);
  --primary-dark: color-mix(in oklab, var(--primary) 90%, black);
  --primary-darker: color-mix(in oklab, var(--primary) 80%, black);
  --primary-darkest: color-mix(in oklab, var(--primary) 50%, black);
  --primary-shorter-hue: lch(from var(--primary) calc(l + 20) 125 1);
  --primary-gradient: linear-gradient(to right, var(--primary), var(--primary-shorter-hue));
  --secondary: #FFFFFF;
  --tertiary: #282828;
  --quaternary: #f8f8f8;
}

@font-face {
  font-family: Poppins Regular, sans-serif;
  src: url('./font/Poppins-Regular.ttf');
}

@layer utilities {
  .btn {
    @apply px-4 py-2 text-secondary rounded cursor-pointer font-medium tracking-wide;
    background-color: var(--primary);
  }

  .gredient {
    background-size: 200% auto;

    background-image: var(--primary-gradient);
  }

  .animate-bg {
    animation: gradientAnimation 3.5s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }


  .btn:hover {
    background-color: var(--primary-darker);
  }

  .input {
    /* height: 35px; */
    @apply outline-none rounded-lg border border-black
  }

  .input:focus {
    border: 2px solid var(--primary);
  }
}

/* Main container to center everything */
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFFFFF;
}

/* Body of the form, box-like design */
.box-container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:transparent;
  backdrop-filter: blur(5px);
  max-width: 402px;
}

.box-container-body p {
  color: #666;
  font-size: 1rem;
  margin-bottom: 20px;
}